<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>A message was just submitted to Shutup Relax:</h3>
<p>
  <b>Name:</b> <%= @message.name %><br>
  <b>Email:</b> <%= @message.email %><br>
  <b>Message:</b> <%= @message.message %><br>
</p>
</body>
</html>