<body>
        <!--[if lt IE 9]>
            <p class="alert alert-danger m-top">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div class="wrapper page-aboutus bg-trees">

  <%= render 'layouts/navigation' %>

  <div class="main">
    <div class="centered-inpage">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p class="lead">
              Sarah Rangel, MT<br>
              <u>Lead Massage Therapist</u><br>
            </p>
            <p class="lead text-center">
              <%= image_tag( "bwsarah.jpeg", :alt=>"Sarah", :class=>"thumbnail pull-left" ) %>
              Sarah has been a practicing massage therapist for 8 years. She has a long history of working in healthcare as well as the natural healing arts. Sarah practices several modalities including, prenatal massage, deep tissue, hot stone, lomi lomi, cupping therapy, aromatherapy, trigger point therapy and reflexology. Injury treatment and antepartum massage are her favorite treatment types and her main goal is to provide quality care for all of her guests. In addition to the treatments she provides, Sarah is excellent at planning group spa days and spa parties. Contact her for more information.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="push"></div>
</div>
